body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4a261;
    font-family: 'Arial', sans-serif;
    color: black;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

#countdown {
    display: flex;
    justify-content: space-around;
    background: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.countdown-item {
    text-align: center;
    padding: 10px;
    background: #eae2b7;
    border-radius: 8px;
    margin: 0 10px;
    min-width: 100px;
}

.countdown-item span {
    display: block;
    font-size: 48px;
    font-weight: bold;
}

.countdown-item div {
    font-size: 16px;
    font-weight: normal;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}
